<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="{{site.baseUrl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{site.baseUrl}}/blog">Return To List</a></h1>
        <h1>待定项目组</h1>
        <p class="view"><a href="https://github.com/brandonzhu/daidin">在github上查看<small>brandonzhu/daidin</small></a></p>
        <ol>
          {% for post in site.posts %}
            <li>
              <a href="{{site.baseUrl}}{{post.url}}">{{post.title}}</a>
            </li>
          {% endfor %}
        </ol>
      </header>
      <section>
				<h3>{{page.title}}</h3>
        {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/brandonzhu">brandonzhu</a></p>
      </footer>
    </div>
    <script src="{{site.baseUrl}}/javascripts/scale.fix.js"></script>
  </body>
</html>
